/* Poppins */
@font-face {
  font-family: 'POPPINS';
  font-weight: 400;
  src: url('../../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'POPPINS';
  font-weight: 500;
  src: url('../../public/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'POPPINS';
  font-weight: 600;
  src: url('../../public/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'POPPINS';
  font-weight: 700;
  src: url('../../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
}

/* Prompt */
@font-face {
  font-family: 'PROMPT';
  font-weight: 300;
  src: url('../../public/fonts/Prompt/Prompt-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'PROMPT';
  font-weight: 400;
  src: url('../../public/fonts/Prompt/Prompt-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'PROMPT';
  font-weight: 500;
  src: url('../../public/fonts/Prompt/Prompt-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'PROMPT';
  font-weight: 600;
  src: url('../../public/fonts/Prompt/Prompt-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'PROMPT';
  font-weight: 700;
  src: url('../../public/fonts/Prompt/Prompt-Bold.ttf') format('truetype');
}

/* Sarabun */

@font-face {
  font-family: 'SARABUN';
  font-weight: 300;
  src: url('../../public/fonts/Sarabun/Sarabun-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SARABUN';
  font-weight: 400;
  src: url('../../public/fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SARABUN';
  font-weight: 500;
  src: url('../../public/fonts/Sarabun/Sarabun-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SARABUN';
  font-weight: 700;
  src: url('../../public/fonts/Sarabun/Sarabun-Bold.ttf') format('truetype');
}

/* Kanit */
@font-face {
  font-family: 'KANIT';
  font-weight: 300;
  src: url('../../public/fonts/Kanit/Kanit-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'KANIT';
  font-weight: 400;
  src: url('../../public/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'KANIT';
  font-weight: 500;
  src: url('../../public/fonts/Kanit/Kanit-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'KANIT';
  font-weight: 600;
  src: url('../../public/fonts/Kanit/Kanit-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'KANIT';
  font-weight: 700;
  src: url('../../public/fonts/Kanit/Kanit-Bold.ttf') format('truetype');
}

.h0 {
  @apply font-kanits font-bold text-3xl xl:text-5xl;
}

h1,
.h1 {
  @apply font-kanits font-bold text-2xl xl:text-4xl xl:leading-[50px];
}

h2,
.h2 {
  @apply font-kanits font-medium text-lg md:text-2xl xl:text-[2rem];
}

h3,
.h3 {
  @apply font-kanits font-bold text-base md:text-xl 2xl:text-2xl;
}

h4,
.h4 {
  @apply font-kanits font-light text-base xl:text-xl;
}

.subtitle {
  @apply font-kanits font-light text-base xl:text-xl;
}

body,
.p {
  @apply font-sarabun md:text-lg xl:text-xl;
}
