#App .card-review {
  width: 44.5rem;
  height: 32rem;
  margin: 0 auto;
}

#App .slick-slide {
  padding: 0 10px;
}

/* the parent */
#App .slick-list {
  padding: 0 -10px;
}

#App .slick-center .slider-review .card-review {
  @apply opacity-100 transition-all ease-in-out duration-300 scale-100;
}

#App .slider-review .card-review {
  @apply opacity-20 transition-all ease-in-out duration-300 scale-95;
}

#App .slick-dots {
  bottom: -100px;
  z-index: 100;
}

#App .slick-dots li {
  width: 33px;
  height: 33px;
}

#App .slick-dots li button {
  width: 33px;
  height: 33px;
}

#App .slick-dots li button:hover,
#App .slick-dots li button:focus {
  outline: none;
}
#App .slick-dots li button:hover:before,
#App .slick-dots li button:focus:before {
  opacity: 1;
}

#App .slick-dots li button:before {
  font-family: 'slick';
  font-size: 21px;
  line-height: 30px;

  position: absolute;
  top: 0;
  left: 0;

  width: 33px;
  height: 33px;

  content: '•';
  text-align: center;
  padding: 0.5px;

  color: rgba(54, 74, 217, 1);
  opacity: 0.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App .slick-dots li.slick-active button:before {
  color: #364ad9;
  border: solid 2px #364ad9;
  border-radius: 100% 100%;
  opacity: 1;
}
