#App .card-review {
  width: calc(25vw + 20rem);
  height: calc(20vw + 12rem);
  min-height: 25rem;
  margin: 0 auto;
}

#App .slick-slide {
  padding: 0 10px;
}

/* the parent */
#App .slick-list {
  padding: 0 -10px;
}

#App .slick-center .slider-review .card-review {
  @apply opacity-100 transition-all ease-in-out duration-300 scale-100;
}

#App .slider-review .card-review {
  @apply opacity-20 transition-all ease-in-out duration-300 scale-95;
}

#App .slick-dots {
  bottom: -100px;
  z-index: 10;
}

#App .slick-dots li {
  width: 33px;
  height: 33px;
  margin: 0 3px;
}

#App .slick-dots li button {
  width: 33px;
  height: 33px;
}

#App .slick-dots li button:hover,
#App .slick-dots li button:focus {
  outline: none;
}
#App .slick-dots li button:hover:before,
#App .slick-dots li button:focus:before {
  opacity: 1;
}

#App .slick-dots li button:before {
  font-family: 'slick';
  font-size: 24px;
  line-height: 30px;

  position: absolute;
  top: 0;
  left: 0;

  width: 33px;
  height: 33px;

  content: '•';
  text-align: center;
  padding: 0.5px;

  color: rgba(54, 74, 217, 1);
  opacity: 0.4;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App .slick-dots li.slick-active button:before {
  color: #364ad9;
  border: solid 2px #364ad9;
  border-radius: 100% 100%;
  opacity: 1;
}

@media (max-width: 768px) {
  #App .card-review {
    width: calc(25vw + 20rem - 100px);
    height: calc(20vw + 12rem);
    min-height: 25rem;
  }

  #App .slick-dots {
    bottom: -50px;
    z-index: 10;
  }

  #App .slick-dots li {
    width: 25px;
    height: 25px;
    margin: 0 3px;
  }

  #App .slick-dots li button {
    width: 25px;
    height: 25px;
  }

  #App .slick-dots li button:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 23px;

    position: absolute;
    left: 0;
    top: 0;

    width: 25px;
    height: 25px;

    content: '•';
    text-align: center;
    padding: 0.5px;

    color: rgba(54, 74, 217, 1);
    opacity: 0.4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
