#App .card-review {
  width: 42rem;
  height: 28rem;
  margin: 0 auto;
}

#App .slick-slide {
  padding: 0 50px;
}

/* the parent */
#App .slick-list {
  padding: 0 -50px;
}

#App .slick-center .slider-review .card-review {
  @apply opacity-100 transition-all ease-in-out duration-300 scale-105;
}

#App .slider-review .card-review {
  @apply opacity-20 transition-all ease-in-out duration-300 scale-90;
}

.slick-dots {
  bottom: -100px;
}

.slick-dots li {
  width: 33px;
  height: 33px;
}

.slick-dots li button {
  width: 33px;
  height: 33px;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 21px;
  line-height: 30px;

  position: absolute;
  top: 0;
  left: 0;

  width: 33px;
  height: 33px;

  content: '•';
  text-align: center;
  padding: 0.5px;

  color: rgba(54, 74, 217, 0.4);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: #364ad9;
  border: solid 2px #364ad9;
  border-radius: 100% 100%;
  opacity: 1;
}
